# .NET
bin/
obj/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
publish/

# Node / Angular
node_modules/
dist/
.angular/
.vscode/
backend/wwwroot/

# Database
*.db
*.db-journal
*.db-wal
*.db-shm
/data/
backend/Data/*.db

# OS
.DS_Store
Thumbs.db