# .NET
bin/
obj/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# Node / Angular
node_modules/
dist/
.angular/
.vscode/

# Database
data/*.db-journal
data/*.db-wal
data/*.db-shm

# OS
.DS_Store
Thumbs.db
